In [31]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv('anime_data.csv')
df

,Anime_id,Title,Genre,Synopsis,Type,Producer,Studio,Rating,ScoredBy,Popularity,Members,Episodes,Source,Aired,Link
0,1,Cowboy Bebop,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...","In the year 2071, humanity has colonized sever...",TV,['Bandai Visual'],['Sunrise'],8.81,363889.0,39.0,704490.0,26.0,Original,"Apr 3, 1998 to Apr 24, 1999",https://myanimelist.net/anime/1/Cowboy_Bebop
1,5,Cowboy Bebop: Tengoku no Tobira,"['Action', 'Space', 'Drama', 'Mystery', 'Sci-Fi']","Another day, another bounty—such is the life o...",Movie,"['Sunrise', 'Bandai Visual']",['Bones'],8.41,111187.0,475.0,179899.0,1.0,Original,"Sep 1, 2001",https://myanimelist.net/anime/5/Cowboy_Bebop__...
2,6,Trigun,"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...","Vash the Stampede is the man with a $$60,000,0...",TV,['Victor Entertainment'],['Madhouse'],8.31,197451.0,158.0,372709.0,26.0,Manga,"Apr 1, 1998 to Sep 30, 1998",https://myanimelist.net/anime/6/Trigun
3,7,Witch Hunter Robin,"['Action', 'Magic', 'Police', 'Supernatural', ...",Witches are individuals with special powers li...,TV,['Bandai Visual'],['Sunrise'],7.34,31875.0,1278.0,74889.0,26.0,Original,"Jul 2, 2002 to Dec 24, 2002",https://myanimelist.net/anime/7/Witch_Hunter_R...
4,8,Bouken Ou Beet,"['Adventure', 'Fantasy', 'Shounen', 'Supernatu...",It is the dark century and the people are suff...,TV,NaN,['Toei Animation'],7.04,4757.0,3968.0,11247.0,52.0,Manga,"Sep 30, 2004 to Sep 29, 2005",https://myanimelist.net/anime/8/Bouken_Ou_Beet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16997,27499,Sore Ike! Anpanman: Anpanman to Kaizoku Lobster,NaN,NaN,Special,NaN,NaN,5.50,NaN,NaN,70.0,NaN,NaN,NaN,NaN
16998,12091,X Bomber,NaN,NaN,TV,NaN,NaN,5.94,NaN,NaN,199.0,NaN,NaN,NaN,NaN
16999,29133,X Bomber Pilot,NaN,NaN,Special,NaN,NaN,4.28,NaN,NaN,77.0,NaN,NaN,NaN,NaN
17000,34485,Ganko-chan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN
17001,32713,Original C-V-P Momoko,NaN,NaN,OVA,NaN,NaN,4.00,NaN,NaN,66.0,NaN,NaN,NaN,NaN

In [33]:
df_filter = df[['Title', 'Genre', 'Synopsis']]
df_filter.head()

,Title,Genre,Synopsis
0,Cowboy Bebop,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...","In the year 2071, humanity has colonized sever..."
1,Cowboy Bebop: Tengoku no Tobira,"['Action', 'Space', 'Drama', 'Mystery', 'Sci-Fi']","Another day, another bounty—such is the life o..."
2,Trigun,"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...","Vash the Stampede is the man with a $$60,000,0..."
3,Witch Hunter Robin,"['Action', 'Magic', 'Police', 'Supernatural', ...",Witches are individuals with special powers li...
4,Bouken Ou Beet,"['Adventure', 'Fantasy', 'Shounen', 'Supernatu...",It is the dark century and the people are suff...

In [37]:
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13743 entries, 0 to 15074
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     13743 non-null  object
 1   Genre     13743 non-null  object
 2   Synopsis  13743 non-null  object
dtypes: object(3)
memory usage: 429.5+ KB

In [38]:
df.shape

(17002, 15)

In [39]:
df_filter = df_filter.dropna(axis='rows')
df_filter = df_filter.fillna('unknown')
df_filter

,Title,Genre,Synopsis
0,Cowboy Bebop,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...","In the year 2071, humanity has colonized sever..."
1,Cowboy Bebop: Tengoku no Tobira,"['Action', 'Space', 'Drama', 'Mystery', 'Sci-Fi']","Another day, another bounty—such is the life o..."
2,Trigun,"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...","Vash the Stampede is the man with a $$60,000,0..."
3,Witch Hunter Robin,"['Action', 'Magic', 'Police', 'Supernatural', ...",Witches are individuals with special powers li...
4,Bouken Ou Beet,"['Adventure', 'Fantasy', 'Shounen', 'Supernatu...",It is the dark century and the people are suff...
...,...,...,...
15061,Orbital Era,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi', '...",Orbital Era is set in the near-future on a sp...
15063,Akai Hana Shiroi Hana,"['Kids', 'Music']",Akai Hana Shiroi Hana was a song was original...
15064,Arui Tekoteko,"['Kids', 'Music']","Of a pair of shoes, the left shoe is an animat..."
15065,Golden Kamuy 3rd Season,"['Action', 'Adventure', 'Comedy', 'Historical'...",Third season of Golden Kamuy.
15074,Gibiate,"['Action', 'Fantasy', 'Horror', 'Martial Arts'...","In 2030, Japan. A virus has infected humans th..."

## Recommendation by Genre

In [12]:
df_genre = df.Genre
df_genre

0        ['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...
1        ['Action', 'Space', 'Drama', 'Mystery', 'Sci-Fi']
2        ['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...
3        ['Action', 'Magic', 'Police', 'Supernatural', ...
4        ['Adventure', 'Fantasy', 'Shounen', 'Supernatu...
                               ...
16997                                                  NaN
16998                                                  NaN
16999                                                  NaN
17000                                                  NaN
17001                                                  NaN
Name: Genre, Length: 17002, dtype: object

In [40]:
def remove_brackets(data):
    data = str(data).lower()
    data = data.replace('[', '')
    data = data.replace(']', '')
    data = data.replace(',', '')
    data = data.replace("'", '')
    return data

df_genre = df_genre.apply(remove_brackets)
df_genre

0            action adventure comedy drama sci-fi space
1                     action space drama mystery sci-fi
2          action sci-fi adventure comedy drama shounen
3        action magic police supernatural drama mystery
4                adventure fantasy shounen supernatural
                              ...
16997                                               nan
16998                                               nan
16999                                               nan
17000                                               nan
17001                                               nan
Name: Genre, Length: 17002, dtype: object

In [41]:
vector_tfidf = TfidfVectorizer()
result_tfidf = vector_tfidf.fit_transform(df_genre)

In [42]:
result_arr = result_tfidf.toarray()
result_arr

array([[0.31460986, 0.34906404, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.30413789, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.3437556 , 0.38140165, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [43]:
vector_tfidf.get_feature_names_out()

array(['action', 'adventure', 'ai', 'arts', 'cars', 'comedy', 'dementia',
       'demons', 'drama', 'ecchi', 'fantasy', 'fi', 'game', 'harem',
       'hentai', 'historical', 'horror', 'josei', 'kids', 'life', 'magic',
       'martial', 'mecha', 'military', 'music', 'mystery', 'nan', 'of',
       'parody', 'police', 'power', 'psychological', 'romance', 'samurai',
       'school', 'sci', 'seinen', 'shoujo', 'shounen', 'slice', 'space',
       'sports', 'super', 'supernatural', 'thriller', 'vampire', 'yaoi',
       'yuri'], dtype=object)

In [46]:
# choose one or more category
test = 'school drama comedy sports'

In [47]:
test_arr = vector_tfidf.transform([test])
test_arr = test_arr.toarray()

result = {}
for id, vector in enumerate(result_arr):
    cosine_val = cosine_similarity([result_arr[id]], test_arr)
    result[id] = cosine_val

result_desc = dict(sorted(result.items(), key=lambda item: item[1], reverse=True))

top_n = 5

for n, anime_id in enumerate(result_desc):
    if n > 5:
        break
    print(df_filter.iloc[anime_id]['Title'])

Yozakura Quartet: Tsuki ni Naku
Detective Conan OVA 02: 16 Suspects
Ebenbourg no Kaze
Ken-chan
Shi Wan Ge Leng Xiaohua Movie 1
Aru Zombie Shoujo no Sainan (ONA)

## Recomendation  By Synopsis

In [48]:
df_synopsis = df_filter.Synopsis
df_synopsis

0        In the year 2071, humanity has colonized sever...
1        Another day, another bounty—such is the life o...
2        Vash the Stampede is the man with a $$60,000,0...
3        Witches are individuals with special powers li...
4        It is the dark century and the people are suff...
                               ...
15061    Orbital Era  is set in the near-future on a sp...
15063    Akai Hana Shiroi Hana  was a song was original...
15064    Of a pair of shoes, the left shoe is an animat...
15065                        Third season of Golden Kamuy.
15074    In 2030, Japan. A virus has infected humans th...
Name: Synopsis, Length: 13743, dtype: object

In [49]:
df_synopsis.dropna()

0        In the year 2071, humanity has colonized sever...
1        Another day, another bounty—such is the life o...
2        Vash the Stampede is the man with a $$60,000,0...
3        Witches are individuals with special powers li...
4        It is the dark century and the people are suff...
                               ...
15061    Orbital Era  is set in the near-future on a sp...
15063    Akai Hana Shiroi Hana  was a song was original...
15064    Of a pair of shoes, the left shoe is an animat...
15065                        Third season of Golden Kamuy.
15074    In 2030, Japan. A virus has infected humans th...
Name: Synopsis, Length: 13743, dtype: object

In [50]:
def remove_brackets(data):
    data = str(data.lower())
    data = data.replace('[', '')
    data = data.replace(']', '')
    data = data.replace(',', '')
    data = data.replace("'", '')
    data = data.replace(".", '')
    return data

df_synopsis = df_synopsis.apply(remove_brackets)
df_synopsis

0        in the year 2071 humanity has colonized severa...
1        another day another bounty—such is the life of...
2        vash the stampede is the man with a $$60000000...
3        witches are individuals with special powers li...
4        it is the dark century and the people are suff...
                               ...
15061    orbital era  is set in the near-future on a sp...
15063    akai hana shiroi hana  was a song was original...
15064    of a pair of shoes the left shoe is an animate...
15065                         third season of golden kamuy
15074    in 2030 japan a virus has infected humans thro...
Name: Synopsis, Length: 13743, dtype: object

In [51]:
vector_tfidf = TfidfVectorizer()
result_tfidf = vector_tfidf.fit_transform(df_synopsis)
result_arr = result_tfidf.toarray()
result_arr

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [52]:
# choose one or more category
test = 'story about a ninja who wants to be hokage'

In [53]:
test_arr = vector_tfidf.transform([test])
test_arr = test_arr.toarray()

result = {}
for id, vector in enumerate(result_arr):
    cosine_val = cosine_similarity([result_arr[id]], test_arr)
    result[id] = cosine_val

result_desc = dict(sorted(result.items(), key=lambda item: item[1], reverse=True))

top_n = 5

for n, anime_id in enumerate(result_desc):
    if n > 5:
        break
    print(df_filter.iloc[anime_id]['Title'])

Ninjutsu Hinotama Kozou: Edo no Maki
Ninja Slayer From Animation
Ninja Tamamaru
Boruto: Naruto the Movie
Shin Ninja Tamamaru
Naruto